@font-face {
    font-family: 'Distinct Style Script';
    src: url('DistinctStyleScript.eot');
    src: url('DistinctStyleScript.eot?#iefix') format('embedded-opentype'),
        url('DistinctStyleScript.woff2') format('woff2'),
        url('DistinctStyleScript.woff') format('woff'),
        url('DistinctStyleScript.ttf') format('truetype'),
        url('DistinctStyleScript.svg#DistinctStyleScript') format('svg');
    font-weight: normal;
    font-style: normal;
}

